{{#foreach posts}}
<section id="{{id}}" class="{{post_class}} post-list">
	<h1 class="post-title"><a href="{{url}}">{{title}}</a></h1>
	<h2 class="post-subtitle">{{date published_at format='D MMMM YYYY'}} <span class="separator"> &middot; </span> {{reading_time}} <span class="tags taglist smallTag">{{tags separator=" " prefix=" &middot; "}}</span>{{#if featured}}<span class="separator"> &middot; </span><i class="fa fa-star-o feature-star"></i>{{/if}}</h2>
	<p>{{excerpt words="50"}}...</p>
	<p class="read-on"><a href="{{url}}">Read On →</a></p>
</section>
{{/foreach}}

{{pagination}}